<section class="week">
  <h2 class="title">Week</h2>
  <ul class="weekdays">
    <li class="item"><a class="link-weekday" href="#">Monday</a></li>
    <li class="item"><a class="link-weekday" href="#">Tuesday</a></li>
    <li class="item"><a class="link-weekday" href="#">Wednesday</a></li>
    <li class="item"><a class="link-weekday" href="#">Thursday</a></li>
    <li class="item"><a class="link-weekday" href="#">Friday</a></li>
  </ul>
  <ul class="weekends">
    <li class="item"><a class="link-weekend" href="#">Saturday</a></li>
    <li class="item"><a class="link-weekend" href="#">Sunday</a></li>
  </ul>
</section>
